@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}


body{
   background-color: #f3f5f9 !important;
}

.wrapper{
  display: flex;
  position: relative;
}
/* sidebar */

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #ffffff;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #717171;
  display: block;
  text-decoration: none;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #474747;
  text-decoration: none;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
  filter: brightness(0) invert(1);
}

/* main content */

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding-left: 20px;

  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  font-size: 20px;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

/* table */

table {
  border-collapse: collapse;
  width: 90%;
 
  
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #e0e4e8;
}

/* longout button */

.button {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  padding-left: 0px;
  background: #e0e4e8;
  border: 1px solid #e0e4e8;
  cursor: pointer;
  padding: 10px;
  position: relative;
  left: 1100px;
  border-radius: 5px 5px 5px 5px;
  top: -34px;

}
.button:hover{
  background: #ffffff;
  color: #e0e4e8;


}

/* button */
.bn {
  color: #575757;
  border: 1px solid #e0e4e8;
  background: #e0e4e8;

  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  position: relative ;
  margin: 10px auto; 
  display: block; 
  position: relative;
  left: -30px;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Josefin Sans', sans-serif;


}
.bn:hover{
  background: #ffffff;
  color: #afb0b1;

  border: 1px solid #ffffff;

}

/* button SUBMIT*/
.SUBMIT {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  background: #e0e4e8;
  border: 1px solid #e0e4e8;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  position: relative ;
  margin: 10px auto; 
  display: block; 
  position: relative;
  padding: 10px;
  left: -30px;
  border-radius: 5px 5px 5px 5px;
  top: 10px;

}
.SUBMIT:hover{
  background: #ffffff;
  color: #afb0b1;

  border: 1px solid #ffffff;

}

/* The Modal  */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  top: 0;
  transform: translateX(-50%); 
  width: 100%; 
  height: 100vh; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content/Box of  add station*/
.modal-content {
  background-color: #fefefe;
  border: 2px solid #888;
  width: 900px; 
  height: 300px;
  border-radius: 5px;
  left: 450px;
  position: relative;
  font-size: 15px;
  
}


/* The Modal of  add station */
.modal1 {
  display: none;
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  top: 0;
  transform: translateX(-50%); 
  width: 100%; 
  height: 100vh; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  
}

/* Modal Content/Box of add station */
.modal1-content {

  background-color: #fefefe;
  border: 1px solid #888;
  width: 45%; 
  border-radius: 5px;
  left: 450px;
  top: 20px;
  position: relative;
  font-size: 15px;
  padding: 50px;

  height: auto; /* Set height to auto to adjust based on content */
  overflow-y: auto; /* Enable vertical scroll if needed */
  
}


/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.class1{
  padding-top: 40px;

}
/*form*/

.wrapper form .row{
  height: 40px;
  margin-bottom: 15px;
  position: relative;
}
.wrapper form .row input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 16px;
  transition: all 0.3s ease;
  padding: 20px;
}
form .row input:focus{
  border-color: #e0e4e8;
  box-shadow: inset 0px 0px 2px 2px rgba(153, 153, 153, 0.25);
}
form .row input::placeholder{
  color: #999;
}
.wrapper form .row i{
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  background: #e0e4e8;
  border: 1px solid #e0e4e8;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* button */
.bnd {
 

  cursor: pointer;
  color: #717171;
  border: 1px solid #f3f5f900;
  background: #f3f5f900;

  font-size: 28px;
  

}
.bnd:hover{
  color: #575757;



}
/* LIST */
.image{
  position: relative; 
  top: -100px; 
  left: 40% ;
}
.list {
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  position: relative;
  top: 140px;
  left: 110px;
}

@media (max-width: 1000px) {

  .image{
    top: 50px;
    width: 450px; 
    left: 10px;
  }
  .bn {
    top: -80px !important; 
    left: 40px !important; 
  }
  .toggle-button {
    display: none;
  }

.show-button {
  display: none  !important;
}
  #START1{
    top: -40px !important;
  }
  .modal-content{
    width: 400px !important;
  }
  .modal-content{
    width: 400px !important;
  }

  #stop{
    top: 10px !important;
    left: 100px !important;
  }
}
.show-button {
  display: none  !important;
}
.toggle-button {
  display: none;
}


@media (max-width: 576px) {
  .list {
    top: 100px;
    left: 10px;
  }
  .image{
    left: -70px;

  }
  .bn {
    top: -120px !important; 
    left:10px !important; 
  }
  .hidden {
    display: none;
  }
  .wrapper .main_content{
    width: 100%;
    margin-left:1px;
  }

  .toggle-button {
    display: block;
  }

  .wrapper .sidebar.hidden {
    display: none;
  }
  .wrapper .sidebar {
    z-index: 999; 
  }

  

  .show-button {
    display: block !important;
  }

  
}

#chargingStationsList li {
  display: inline-block; /* Display list items inline */
  text-align: center; /* Align text to the left within each list item */
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 300px; /* Set a fixed width for each list item */
 
}
#chargingStationsList li b {
  font-size: 20px; /* Change the font size as needed */
  color: #474646;
}

#chargingStationsList li  {
  font-size: 19px; /* Change the font size as needed */
  color: #6f6e6e;

}

#map {
  position: relative;
  width: 70%; 
  height: 0;
  padding-bottom: 53%;
  position: relative;
  top: 20px; 
  left: 150px; 

}


#search {
  display: flex;
  justify-content: flex-end;
  padding-right: 140px;
}

#searchInput{
  margin-right: 5px;

}



/* PROFILE*/
.card {
  left: 140px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.btn-custom {
  color: #fff;            
  background-color: #999999; 
  border-color: #b3b3b3;     
}


#adminMenu{
  display: none;
}
#clientMenu{
  display: none;
}

.pagination-container {
  text-align: center;
  margin-top: 20px;
}

.pagination-container button {
  border-radius: 5px 5px 5px 5px;

  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  color: #575757;
  border: 1px solid #e0e4e8;
  background: #e0e4e8;

}

.pagination-container span {
  font-weight: bold;
}


/* button */
.bn-del {
  color: #575757;
  border: 1px solid #e0e4e8;
  background: #e0e4e8;
  margin-left: auto; 

  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
  position: relative ;
  display: block; 
  position: relative;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Josefin Sans', sans-serif;


}
.bn-del:hover{
  background: #ffffff;
  color: #afb0b1;

  border: 1px solid #ffffff;

}


.button1 {
 

  cursor: pointer;
  color: #717171;
  border: 1px solid #f3f5f900;
  background: #f3f5f900;

  font-size: 28px;
  

}
.button1:hover{
  color: #575757;



}